<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <UserControls.Properties.Settings>
            <setting name="ConnectionString" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoExpression" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoStardDay" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoEndDat" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoInterval" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoStartHour" serializeAs="String">
                <value />
            </setting>
            <setting name="CronoEndHour" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </UserControls.Properties.Settings>
    </userSettings>
</configuration>